.chat-main__messages__message{data: {message-id: message.id, group-id: message.group_id}}
  .chat-main__messages__message__upper-info
    %p.chat-main__messages__message__upper-info__talker
      = message.user.name
    %p.chat-main__messages__message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat-main__messages__message__text
    - if message.text.present?
      %p.chat-main__messages__message__text
        = message.text
    = image_tag message.image.url, class: "chat-main__messages__message__text__image" if message.image.present?